<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-positive">
      <div class="title">No Empty Legs</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="noEmptyLegs-list1">
        <ion-item class="item-icon-right" id="noEmptyLegs-list-item1" ui-sref="noEmptyLegs.about" menu-close="">About
          <i class="icon ion-android-person"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="noEmptyLegs-list-item13" ui-sref="noEmptyLegs.services" menu-close="">Services
          <i class="icon ion-settings"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="noEmptyLegs-list-item14" ui-sref="noEmptyLegs.findATrip" menu-close="">Find A Trip
          <i class="icon ion-search"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="noEmptyLegs-list-item7" ui-sref="noEmptyLegs.aircraftFleet" menu-close="">Aircraft Fleet
          <i class="icon ion-android-plane"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="noEmptyLegs-list-item10" ui-sref="noEmptyLegs.programs" menu-close="">Programs
          <i class="icon ion-ios-book"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="noEmptyLegs-list-item9" ui-sref="noEmptyLegs.fBO" menu-close="">FBO
          <i class="icon ion-home"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="noEmptyLegs-list-item6" ui-sref="noEmptyLegs.contactUs" menu-close="">Contact Us
          <i class="icon ion-ios-telephone"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="noEmptyLegs-list-item11" ui-sref="noEmptyLegs.login" menu-close="">Login
          <i class="icon ion-power"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>