<ion-view view-title="Flight Registration">
<div style="top: 0px; margin-left: 0px; width: calc(100% + 20px);">
    <img src="img/blurred.jpg" style="position: absolute; display: block; width: 100%; height: 100%">
  </div>

  <ion-nav-bar class="bar-clear" align-title="center">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content scroll="true">


    <div>

      <form name="flightForm" ng-model="flight" style="padding:10px">

        <md-input-container class="md-block" flex-gt-sm>
          <label>Plane Type</label>
          <input ng-model="flight.planeType" required="true">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Departure Airport</label>
          <input ng-model="flight.departureAirport" required="true">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Destination Airport</label>
          <input ng-model="flight.destinationAirport" required="true">
        </md-input-container>

        <md-input-container>
        <label>Capacity</label>
        <input ng-model="flight.capacity" required="true">
      	</md-input-container>

        <md-input-container>
        <label>Cost</label>
        <input ng-model="flight.cost" required="true">
      	</md-input-container>

        <div flex-gt-xs style="justify-content: center; align-items: center; text-align:center">
          <h4>Select the departure date</h4>
          <md-datepicker class="md-primary" ng-model="flight.departureDate" md-placeholder="Enter Date" required="true">
          </md-datepicker>
        </div>

        <div flex-gt-sm="50" style="padding:20px; padding-top:30px; justify-content: center; align-items: center; text-align:center">
          <md-checkbox class="md-primary" type="checkbox" ng-model="flight.flightCrew" aria-label="Flight crew included" required="false">
            Flight crew included
          </md-checkbox>
        </div>

      </form>
    </div>


     <div style="text-align: center; padding-top: 5%">
   	<md-button class="md-raised md-primary" ng-click="registerFlight(flight)">Create Flight</md-button>
   </div>

  </ion-content>
</ion-view>
