<ion-view view-title="Service Registration">
<div style="top: 0px; margin-left: 0px; width: calc(100% + 20px);">
    <img src="img/blurred.jpg" style="position: absolute; display: block; width: 100%; height: 100%">
  </div>

  <ion-nav-bar class="bar-clear" align-title="center">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content scroll="true">

<md-content layout-padding>
    <div>

      <form name="userForm">

        <md-input-container class="md-block" flex-gt-sm>
          <label>Plane Type</label>
          <input ng-model="user.planeType" type="planeType" required="true">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Plane Type</label>
          <input ng-model="user.departureAirport" type="departureAirport" required="true">
        </md-input-container>

        <md-input-container>
        <label>Capacity</label>
        <input ng-model="user.capacity" type="capacity" required="false">
      	</md-input-container>

        <md-input-container>
        <label>Cost</label>
        <input ng-model="user.cost" type="cost" required="false">
      	</md-input-container>

        <div flex-gt-xs>
          <h4>Select the departure date</h4>
          <md-datepicker ng-model="user.departureDate" md-placeholder="Enter date" required="false">
          </md-datepicker>
        </div>

        <div flex-gt-sm="50">
          <md-checkbox ng-model="user.flightCrew" aria-label="Flight crew included">
            Flight crew included: {{ user.flightCrew }}
          </md-checkbox>
        </div>

      </form>
    </div>
  </md-content>

     <div style="text-align: center; padding-top: 5%">
   	<md-button class="md-raised md-primary" ng-click="signUp(user)">Create Account</md-button>
   </div>

  </ion-content>
</ion-view>
