<ion-view view-title="Find a Trip">
<div style="top: 0px; margin-left: 0px; width: calc(100% + 20px);">
    <img src="img/blurred.jpg" style="position: absolute; display: block; width: 100%; height: 100%">
  </div>
  <ion-nav-bar class="bar-clear" align-title="center">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content scroll="true">

    <div style="display: flex;
  justify-content: center;
  align-items: center;">
    <md-switch ng-model="searchByDate" ng-change="toggleDateSelector()" class="md-primary" style="direction: rtl; color: white; margin-top: 10%;" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search By Date        
    </md-switch>
   </div>
   
  <div ng-show="searchByDate" align="center" style="text-align: center; width: 100%;">
        <table style="border-collapse:collapse; width: 100%;">
            <tr style="text-align: center;">
                <div style="text-align: center; padding: 15px 15px 15px 15px;">
                    <h4>Departure Date</h4>
                    <md-datepicker ng-change="setDepartureDate(departureDate)" ng-model="departureDate" md-placeholder="Enter date"></md-datepicker>
                </div>
            </tr>
        </table>
    </div>

    <div style="display: flex;
  justify-content: center;
  align-items: center;">
    <md-switch ng-model="searchByPrice" ng-change="togglePriceSelector()" class="md-primary" style="direction: rtl; color: white; margin-top: 10%;" md-no-ink aria-label="Switch No Ink">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search By Price        
    </md-switch>
   </div>
   
  <div ng-show="searchByPrice" align="center" style="text-align: center; width: 100%;">
        <table style="border-collapse:collapse; width: 100%;">
            <tr style="text-align: center;">
                <div style="text-align: center; padding: 15px 15px 15px 15px;">
                    <md-slider-container>
                      <span>Min Price</span>
                      <md-slider ng-change="changeMinPrice(minPrice)" flex min="0" max="20000" ng-model="minPrice" class="md-primary">
                      </md-slider>
                      <md-input-container>
                        <input flex type="number" step="100" ng-model="minPrice" >
                      </md-input-container>
                    </md-slider-container>
                </div>
                <div style="text-align: center; padding: 15px 15px 15px 15px;">
                    <md-slider-container>
                      <span>Max Price</span>
                      <md-slider ng-change="changeMaxPrice(maxPrice)" flex min="0" max="20000" ng-model="maxPrice" class="md-primary">
                      </md-slider>
                      <md-input-container>
                        <input flex type="number" step="100" ng-model="maxPrice">
                      </md-input-container>
                    </md-slider-container>
                </div>
            </tr>
        </table>
    </div>

    <div style="display: flex;
  justify-content: center;
  align-items: center;">
    <md-switch ng-model="searchByDestination" ng-change="toggleDestination()" class="md-primary" style="direction: rtl; color: white; margin-top: 10%;" md-no-ink aria-label="Switch No Ink">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search By Airport Name      
    </md-switch>
   </div>
      
  <div ng-show="searchByDestination" align="center" style="text-align: center; width: 100%;">
        <table style="border-collapse:collapse; width: 100%;">
            <tr style="text-align: center;">
                <div style="text-align: center; padding: 15px 15px 15px 15px;">
                    <md-autocomplete
                        ng-disabled="isDisabled"
                        md-no-cache="true"
                        md-selected-item="selectedItem"
                        md-search-text-change="searchTextChange(searchText)"
                        md-search-text="searchText"
                        md-selected-item-change="selectedItemChange(item)"
                        md-items="item in querySearch(searchText)"
                        md-item-text="item.display"
                        md-min-length="0"
                        placeholder="Search for an airport to depart from">
                      <md-item-template>
                        <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                      </md-item-template>
                      <md-not-found>
                        No states matching "{{searchText}}" were found.
                        <a ng-click="newState(searchText)">Create a new one!</a>
                      </md-not-found>
                    </md-autocomplete>
                </div>
            </tr>
        </table>
    </div>

    <div style="display: flex;
  justify-content: center;
  align-items: center;">
    <md-switch ng-model="searchByCapacity" ng-change="toggleCapacity()" class="md-primary" style="direction: rtl; color: white; margin-top: 10%;" md-no-ink aria-label="Switch No Ink">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search By Capacity     
    </md-switch>
   </div>
      
  <div ng-show="searchByCapacity" align="center" style="text-align: center; width: 100%;">
        <table style="border-collapse:collapse; width: 100%;">
            <tr style="text-align: center;">
                <div style="text-align: center; padding: 15px 15px 15px 15px;">
                    <md-input-container style="margin-right: 10px;">
                      <label>Minimum Capacity</label>
                      <md-select ng-model="size" ng-change="setCapacity(size)">
                        <md-option ng-repeat="size in sizes" value="{{size}}" >{{size}}</md-option>
                      </md-select>
                    </md-input-container>
                </div>
            </tr>
        </table>
    </div>

    <div style="display: flex;
    justify-content: center;
    align-items: center;">
      <md-switch ng-model="flightCrew" ng-change="toggleFlightCrew()" class="md-primary" style="direction: rtl; color: white; margin-top: 10%;" md-no-ink aria-label="Switch No Ink">
        &nbsp;&nbsp;&nbsp;&nbsp;?Would you like to have in flight service    
      </md-switch>
    </div>
    <div ng-show="flightCrew" align="center" style="text-align: center; width: 100%;">
        <table style="border-collapse:collapse; width: 100%;">
            <tr style="text-align: center;">
                <div style="text-align: center; padding: 15px 15px 15px 15px;">
                    <p>Flight Crew Selected!</p>
                </div>
            </tr>
        </table>
    </div>
    <div style="text-align: center; padding-top: 5%; padding-bottom: 10%">
      <md-button class="md-raised" style="background-color: white;" ng-click="search()">Search for a Trip</md-button>
    </div>

  </ion-content>
</ion-view>